header
    hr/
    div(class='row')
        div(class='col-md-9')
            div(class='row')
                div(id='logo' class='col-lg-12 clearfix')
                    a(class='pull-left' href="/" title='Home'): img(src='/static/logo.png')
                    h3(class='pull-left') Информационный портал under-city.com
        div(class='col-md-3')
            div(class='row')
                div(class='col-lg-12">') search
    hr/
    h2(class='text-center')
        div(id='site-slogan') Коллекция материалов и статей для веб разработчиков
    hr/