extends layout

block breadcrumb
    div(id='breadcrumbs')
        ul(class='breadcrumb')
            li
                a(href='/') Главная
                span(class='divider')
            li(class='active') #{page_title}
