extends ../static_page

block sidebar_left
    div(class="node node-page")
        div(class="field")
            p
                != 'Если у вас возникли какие либо вопросы ко мне, вы, можете связаться со мной использую данные из ниже,'
                != 'либо заполнить '
                a(href='') форму обратной связи.
                != ' Также можно воспользоваться страницей '
                a(href='') вопрос/ответ.
            p   icq:  8945470
                br
                != 'email:'
                a(href'mailto:mail@under-city.com') mail@under-city.com
                br
                != 'skype:  kurt.free'