div(id='block-ssl' class='block')
    div(class='content')
        p(class='text-center')
            a(href='https://www.gogetssl.com' style='font-family: arial; font-size: 10px; color: #212121; text-decoration: none;')
                img(src='https://www.gogetssl.com/skin/i/PositiveSSL_tl_trans2.png' border='0')